.contacts {
  background-image: url("../img/contacts-bg.png");
  background-repeat: no-repeat;

  &__title {
    @include text($mainFont, 30px, 600, 36px, $mainColor, uppercase, center);
    padding-top: 30px;
  }

  &__form {
    max-width: 894px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
  }

  &__message {
    @include text($mainFont, 14px, lighter, 36px, $mainColor, none, left);
    margin-top: 28px;
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
    height: 215px;
    box-sizing: border-box;
    font-style: italic;
    border-color: #bbbcbd;
    background-color: transparent;
    resize: none;

    &::placeholder {
      @include text($mainFont, 14px, lighter, 36px, $mainColor, capitalize, left);
      font-style: italic;
    }
  }

  &__input {
    @include text($mainFont, 14px, lighter, 36px, $mainColor, none, left);
    padding: 15px;
    width: 438px;
    height: 52px;
    box-sizing: border-box;
    font-style: italic;
    border: 1px solid #bbbcbd;
    background-color: transparent;

    &::placeholder {
      @include text($mainFont, 14px, lighter, 36px, $mainColor, capitalize, left);
      font-style: italic;
    }
  }

  &__input-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__email:active {
    background-color: transparent;
  }

  &__button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: $brandColor;
    border: none;
    @include text($mainFont, 18px, lighter, 36px, $mainColor, capitalize, inherit);
    cursor: pointer;
  }
}
