.copyright {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 36px;
  color: $baseTextColor;
  text-align: center;
  background-color: $blackColor;
}
