@import 'contacts', 'copyright';

.footer {
  background-color: #0b0a0a;

  &__content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    max-width: 1170px;
    padding-left: 30px;
    padding-right: 110px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }
}

.about-us {
  max-width: 320px;

  &__title {
    @include text($mainFont, 18px, 600, 36px, $whiteColor, capitalize, left);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
  }

  &__text {
    @include text($mainFont, 14px, lighter, 36px, $baseTextColor, none, left);
    margin-top: 0;
    margin-bottom: 0;
  }
}

.quick-links {
  &__title {
    @include text($mainFont, 18px, 600, 36px, $whiteColor, capitalize, left);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: inline-block;
    list-style: none;
  }

  &__list + &__list {
    margin-left: 30px;
    vertical-align: top;
  }

  &__link {
    @include text($mainFont, 14px, lighter, 30px, $baseTextColor, capitalize, left);
    text-decoration: none;
  }
}

.social {
  &__title {
    @include text($mainFont, 18px, 600, 36px, $whiteColor, capitalize, left);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  &__link {
    margin-right: 8px;
    width: 40px;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid $baseTextColor;

    &--facebook {
      background-image: url("../img/icons/facebook.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--twitter {
      background-image: url("../img/icons/twitter.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--google-plus {
      background-image: url("../img/icons/google-plus.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--linkedin {
      background-image: url("../img/icons/linkedin.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__input {
    @include text($mainFont, 14px, lighter, 36px,$baseTextColor, none, left);
    padding: 3px 8px;
    width: 100%;
    max-width: 250px;
    font-style: italic;
    border: 1px solid #838484;
    background-color: transparent;
  }

  &__button {
    @include text($mainFont, 18px, lighter, 36px, $mainColor, capitalize, center);
    margin-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $brandColor;
    border: none;
    cursor: pointer;
  }
}
