@import 'mixins';

.header {
  position: relative;
}

.slider {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  overflow: hidden;
  background-color: #020505;
  background-image: url('../img/slider/slide-1.png');
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    @include text($sliderTitleModifier, 48px, 500, 36px, $mainColor, capitalize, center);
    padding-top: 120px;

    &--brand-color {
      @include text(inherit, inherit, 900, inherit, $brandColor, uppercase, inherit);
    }
  }

  &__text {
    @include text($mainFont, 18px, lighter, 36px, $mainColor, capitalize, center);
    max-width: 920px;
  }

  &__title + &__text {
    padding-top: 50px;
  }
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 252, 244, 0.5);
}

.logo {
  &__link {
    text-decoration: none;
  }

  &__text {
    &--foi {
      @include text($mainFont, 40px, 600, 36px, $mainColor, none, inherit);
    }
    &--nni {
      @include text($logoModifier, 40px, 600, 36px, $brandColor, uppercase, inherit);
    }
  }
}

.navigation {
  padding-right: 65px;
  padding-left: 65px;

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    @include text($mainFont, 14px, lighter, 36px, $mainColor, none, inherit);
    padding-top: 13px;
    padding-bottom: 13px;
    text-decoration: none;

    &:hover {
      color: $brandColor;
      border-bottom: 1px solid $brandColor;
    }
  }
}
