@mixin text($family, $size, $weight, $height, $color, $transform, $align) {
  @include marginTopBottomZero();
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
  text-transform: $transform;
  text-align: $align;
}

@mixin marginTopBottomZero() {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin marginLeftRightAuto() {
  margin-left: auto;
  margin-right: auto;
}
