.services {
  padding-top: 120px;
  padding-bottom: 120px;

  &__title {
    @include text($mainFont, 30px, 600, 36px, $mainTextColor, capitalize, center);

    &--foinni {
      color: $brandColor;
      text-transform: uppercase;
    }
  }

  &__text {
    @include marginLeftRightAuto();
    @include text($mainFont, 18px, lighter, 30px, $baseTextColor, none, center);
    max-width: 920px;
    padding-top: 50px;
  }
}

.services__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 80px;
}

.service {
  padding-top: 35px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  outline: 1px solid #cac8c5;
  outline-offset: -1px;
  width: 358px;
  height: 250px;

  &:hover {
    outline-color: $brandColor;
    outline-width: 2px;
    outline-offset: -2px;
  }

  &:hover &__title {
    color: $brandColor;
  }

  &:hover &__text {
    color: $mainTextColor;
  }

  &:not(:nth-last-child(-n+3)) {
    margin-bottom: 50px;
  }

  &__icon {
    display: flex;
  }

  &__title {
    @include text($mainFont, 24px, 500, 45px, $mainTextColor, capitalize, center);
  }

  &__text {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    @include text($mainFont, 14px, lighter, 30px, $baseTextColor, none, center);
  }
}
