.teams {
  padding-bottom: 155px;

  &__title {
    @include text($mainFont, 30px, 600, 36px, $mainTextColor, capitalize, center);
    padding-bottom: 70px;
  }

  &__infos {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    position: relative;
    width: 270px;
    height: 356px;
    box-sizing: border-box;
    border-top: 17px solid $mainColor;
    border-bottom: 17px solid $mainColor;
    background-color: $brandColor;

    &:hover {
      border-color: $brandColor;
    }

    &:hover .teams__img {
      opacity: 0.1;
    }

    &:hover .teams__member {
      top: 50%;
      transform: translateY(-30%);
      background-color: transparent;
    }

    &:hover .teams__social {
      display: flex;
      justify-content: space-between;
      padding-top: 100px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__member {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 16px;
    background-color: $mainTextColor;
    opacity: 0.94;
    text-align: center;
  }

  &__name {
    @include text($mainFont, 18px, 600, 36px, $mainColor, capitalize, inherit);
  }

  &__position {
    @include text($mainFont, 14px, lighter, 36px, $mainColor, capitalize, inherit);
  }

  &__social {
    display: none;
    @include marginLeftRightAuto();
    width: 100px;
  }
}
