$brandColor: #1dde85;
$mainColor: #fffcf4;
$mainTextColor: #454546;
$baseTextColor: #8f8e91;
$blackColor: #000000;
$whiteColor: #ffffff;

$mainFont: 'Roboto', sans-serif;
$priceFont: 'Roboto Slab';
$sliderTitleModifier: 'Exo', sans-serif;
$logoModifier: 'Pacifico', serif;
