.works {
  padding-bottom: 110px;
  text-align: center;

  &__title {
    @include text($mainFont, 30px, 600, 36px, $mainTextColor, capitalize, inherit);
  }

  &__menu {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 50px;

    &-button {
      padding: 0;
      background-color: transparent;
      border-color: transparent;
      @include text($mainFont, 18px, lighter, 36px, $mainTextColor, none, inherit);
      cursor: pointer;

      &:hover {
        padding-bottom: 1px;
        color: $brandColor;
        border-bottom: 1px solid $brandColor;
      }

      &:not(last-child) {
        margin-right: 40px;
      }
    }
  }

  &__block {
    display: block;
    content: "";
    clear: both;
  }

  &__button {
    @include marginLeftRightAuto();
    @include text($mainFont, 18px, lighter, 36px, $mainColor, capitalize, inherit);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: none;
    background-color: $brandColor;
    cursor: pointer;
  }
}

.work {
  float: left;
  padding-bottom: 50px;
  width: 390px;
  height: 390px;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
  }
}
