.page {
  margin: 0;
  background-color: #fffcf4;
}

.header {
  position: relative;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  overflow: hidden;
  background-color: #020505;
  background-image: url("../img/slider/slide-1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.slider__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Exo", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 36px;
  color: #fffcf4;
  text-transform: capitalize;
  text-align: center;
  padding-top: 120px;
}

.slider__title--brand-color {
  margin-top: 0;
  margin-bottom: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 900;
  line-height: inherit;
  color: #1dde85;
  text-transform: uppercase;
  text-align: inherit;
}

.slider__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 36px;
  color: #fffcf4;
  text-transform: capitalize;
  text-align: center;
  max-width: 920px;
}

.slider__title + .slider__text {
  padding-top: 50px;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 252, 244, 0.5);
}

.logo__link {
  text-decoration: none;
}

.logo__text--foi {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 36px;
  color: #fffcf4;
  text-transform: none;
  text-align: inherit;
}

.logo__text--nni {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Pacifico", serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 36px;
  color: #1dde85;
  text-transform: uppercase;
  text-align: inherit;
}

.navigation {
  padding-right: 65px;
  padding-left: 65px;
}

.navigation__list {
  list-style: none;
}

.navigation__item {
  display: inline-block;
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.navigation__link {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 36px;
  color: #fffcf4;
  text-transform: none;
  text-align: inherit;
  padding-top: 13px;
  padding-bottom: 13px;
  text-decoration: none;
}

.navigation__link:hover {
  color: #1dde85;
  border-bottom: 1px solid #1dde85;
}

.services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.services__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #454546;
  text-transform: capitalize;
  text-align: center;
}

.services__title--foinni {
  color: #1dde85;
  text-transform: uppercase;
}

.services__text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 30px;
  color: #8f8e91;
  text-transform: none;
  text-align: center;
  max-width: 920px;
  padding-top: 50px;
}

.services__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 80px;
}

.service {
  padding-top: 35px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  outline: 1px solid #cac8c5;
  outline-offset: -1px;
  width: 358px;
  height: 250px;
}

.service:hover {
  outline-color: #1dde85;
  outline-width: 2px;
  outline-offset: -2px;
}

.service:hover .service__title {
  color: #1dde85;
}

.service:hover .service__text {
  color: #454546;
}

.service:not(:nth-last-child(-n+3)) {
  margin-bottom: 50px;
}

.service__icon {
  display: flex;
}

.service__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
  color: #454546;
  text-transform: capitalize;
  text-align: center;
}

.service__text {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 30px;
  color: #8f8e91;
  text-transform: none;
  text-align: center;
}

.teams {
  padding-bottom: 155px;
}

.teams__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #454546;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 70px;
}

.teams__infos {
  display: flex;
  justify-content: space-between;
}

.teams__info {
  position: relative;
  width: 270px;
  height: 356px;
  box-sizing: border-box;
  border-top: 17px solid #fffcf4;
  border-bottom: 17px solid #fffcf4;
  background-color: #1dde85;
}

.teams__info:hover {
  border-color: #1dde85;
}

.teams__info:hover .teams__img {
  opacity: 0.1;
}

.teams__info:hover .teams__member {
  top: 50%;
  transform: translateY(-30%);
  background-color: transparent;
}

.teams__info:hover .teams__social {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.teams__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.teams__member {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 16px;
  background-color: #454546;
  opacity: 0.94;
  text-align: center;
}

.teams__name {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #fffcf4;
  text-transform: capitalize;
  text-align: inherit;
}

.teams__position {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 36px;
  color: #fffcf4;
  text-transform: capitalize;
  text-align: inherit;
}

.teams__social {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.works {
  padding-bottom: 110px;
  text-align: center;
}

.works__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #454546;
  text-transform: capitalize;
  text-align: inherit;
}

.works__menu {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.works__menu-button {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 36px;
  color: #454546;
  text-transform: none;
  text-align: inherit;
  cursor: pointer;
}

.works__menu-button:hover {
  padding-bottom: 1px;
  color: #1dde85;
  border-bottom: 1px solid #1dde85;
}

.works__menu-button:not(last-child) {
  margin-right: 40px;
}

.works__block {
  display: table;
  content: "";
  clear: both;
}

.works__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 36px;
  color: #fffcf4;
  text-transform: capitalize;
  text-align: inherit;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: none;
  background-color: #1dde85;
  cursor: pointer;
}

.work {
  float: left;
  padding-bottom: 50px;
  width: 390px;
  height: 390px;
  overflow: hidden;
}

.work__img {
  width: 100%;
  height: 100%;
}

.price__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #454546;
  text-transform: capitalize;
  text-align: center;
}

.plan {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 36px;
  color: #8f8e91;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 130px;
  width: 268px;
  box-sizing: border-box;
  text-align: center;
}

.plan-wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.plan__name {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.plan__body {
  padding-bottom: 22px;
}

.plan__price {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  color: #454546;
  text-transform: none;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 18px;
  border: 1px solid #9c9a97;
}

.plan__price-price {
  font-size: 36px;
}

.plan__plan-per {
  font-size: 18px;
  font-weight: lighter;
}

.plan__currency {
  font-size: 24px;
  vertical-align: 18px;
}

.plan__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-left: 0;
  padding-bottom: 40px;
  list-style: none;
}

.plan__button {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 36px;
  color: #8f8e91;
  text-transform: capitalize;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #9c9a97;
  background-color: transparent;
  cursor: pointer;
}

.plan:hover .plan__name {
  color: #1dde85;
}

.plan:hover .plan__body {
  outline: 1px solid #1dde85;
}

.plan:hover .plan__price {
  background-color: #1dde85;
  border-color: transparent;
  color: #fffcf4;
}

.plan:hover .plan__button {
  color: #fffcf4;
  background-color: #1dde85;
  border-color: transparent;
}

.main {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  background-image: url("../img/contacts-bg.png");
  background-repeat: no-repeat;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #fffcf4;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
}

.contacts__form {
  max-width: 894px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.contacts__message {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 36px;
  color: #fffcf4;
  text-transform: none;
  text-align: left;
  margin-top: 28px;
  margin-bottom: 30px;
  padding: 15px;
  width: 100%;
  height: 215px;
  box-sizing: border-box;
  font-style: italic;
  border-color: #bbbcbd;
  background-color: transparent;
  resize: none;
}

.contacts__message::placeholder {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 36px;
  color: #fffcf4;
  text-transform: capitalize;
  text-align: left;
  font-style: italic;
}

.contacts__input {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 36px;
  color: #fffcf4;
  text-transform: none;
  text-align: left;
  padding: 15px;
  width: 438px;
  height: 52px;
  box-sizing: border-box;
  font-style: italic;
  border: 1px solid #bbbcbd;
  background-color: transparent;
}

.contacts__input::placeholder {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 36px;
  color: #fffcf4;
  text-transform: capitalize;
  text-align: left;
  font-style: italic;
}

.contacts__input-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__email:active {
  background-color: transparent;
}

.contacts__button {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #1dde85;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 36px;
  color: #fffcf4;
  text-transform: capitalize;
  text-align: inherit;
  cursor: pointer;
}

.copyright {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: #8f8e91;
  text-transform: none;
  text-align: center;
  background-color: #000000;
}

.footer {
  background-color: #0b0a0a;
}

.footer__content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 110px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.about-us {
  max-width: 320px;
}

.about-us__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.about-us__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 36px;
  color: #8f8e91;
  text-transform: none;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.quick-links__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.quick-links__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: inline-block;
  list-style: none;
}

.quick-links__list + .quick-links__list {
  margin-left: 30px;
  vertical-align: top;
}

.quick-links__link {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 30px;
  color: #8f8e91;
  text-transform: capitalize;
  text-align: left;
  text-decoration: none;
}

.social__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.social__link {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #8f8e91;
}

.social__link--facebook {
  background-image: url("../img/icons/facebook.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--twitter {
  background-image: url("../img/icons/twitter.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--google-plus {
  background-image: url("../img/icons/google-plus.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--linkedin {
  background-image: url("../img/icons/linkedin.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social__input {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 36px;
  color: #8f8e91;
  text-transform: none;
  text-align: left;
  padding: 3px 8px;
  width: 100%;
  max-width: 250px;
  font-style: italic;
  border: 1px solid #838484;
  background-color: transparent;
}

.social__button {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 36px;
  color: #fffcf4;
  text-transform: capitalize;
  text-align: center;
  margin-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1dde85;
  border: none;
  cursor: pointer;
}
